.filter-button-bar{
    display: inline-block;
    vertical-align:top;
    margin : 0 auto;
    width : 300px;
    height : 30px;
    line-height : 30px;
    &__button{
        &--checked{
            display: inline-block;
            vertical-align:top;
            margin:0px 2px 0px 2px;
            border:1px solid rgb(236, 164, 164);
            border-radius: 7px;
            vertical-align:middle;
            height:20px;
            outline:none;
        }
        &--unchecked{
            display : inline-block;
            vertical-align : top;
            margin : 0px 3px 0px 3px;
            border : none;
            height : 30px;
            outline : none;
        }
        &--unchecked:hover{
            display: inline-block;
            vertical-align:top;
            margin:0px 2px 0px 2px;
            border:1px solid rgb(240, 196, 196);
            border-radius: 7px;
            vertical-align:middle;
            height:20px;
            outline:none;
        }
    }
}